@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url('vt323.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

*{
	margin:0;
	padding:0;
}
html, body {
	background: none;
	height: 100%;
}
html{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body{
	cursor: none;
}
table {
	width: 100%;
	height: 100%;
}
td {
	text-align: center;
	vertical-align: middle;
}
#insert_coin, #bye {
	width: 40%;
	margin: 0 auto;
}
#bye {
	width: 60%;
}
#insert_coin img, #bye img {
	width: 100%;
	height: auto;
}
#bye {
	display: none;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0,1,0,1);
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    33% { opacity: 0.0; }
    100% { opacity: 1.0; }
}